.quantity {
    display: flex;
    gap: 10px;

    & input {
        width: 80px;
        height: 55px;
        padding: 0 20px;
        border: 1px solid rgba(51, 51, 51, 0.2);
    }

    & button {
        background-color: rgba(181, 149, 113, 1);
        padding: 15px 30px;
        border: none;
        color: rgba(255, 255, 255, 1);
        font-size: 20px;
    }

    .quantity__button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
        position: relative;
        left: -40px;

        & button:nth-child(1) {
            width: 15px;
            height: 15px;
            background-image: url('../../assets/image/Polygon\ 1.png');
            background-size: cover;
            background-repeat: no-repeat;
            border: none;
            padding: 0;
            background-color: white;
        }

        & button:nth-child(2) {
            width: 15px;
            height: 15px;
            background-image: url('../../assets/image/Polygon\ 2.png');
            background-size: cover;
            background-repeat: no-repeat;
            border: none;
            padding: 0;
            background-color: white;
        }

    }
}

@media screen and (max-width: 1024px) {
    .quantity {
        gap: 10px;

        & input {
            width: 130px;
            height: 90px;
            border: 2px solid rgba(51, 51, 51, 0.2);
            font-size: 28px;
        }

        & button {
            background-color: rgba(181, 149, 113, 1);
            padding: 5px 15px;
            font-size: 18px;
        }

        .quantity__button {
            row-gap: 10px;
            left: -60px;

            & button:nth-child(1) {
                width: 20px;
                height: 20px;
            }

            & button:nth-child(2) {
                width: 20px;
                height: 20px;
            }

        }
    }
}

@media screen and (max-width: 415px) {
    .quantity {
        gap: 10px;

        & input {
            width: 120px;
            height: 80px;
            border: 2px solid rgba(51, 51, 51, 0.2);
            font-size: 32px;
        }

        & button {
            background-color: rgba(181, 149, 113, 1);
            padding: 5px 10px;
            font-size: 26px;
        }

        .quantity__button {
            row-gap: 10px;
            left: -60px;

            & button:nth-child(1) {
                width: 20px;
                height: 20px;
            }

            & button:nth-child(2) {
                width: 20px;
                height: 20px;
            }

        }
    }
}

@media screen and (max-width: 391px) {
    .quantity {
        & input {
            width: 100px;
            height: 60px;
            font-size: 28px;
        }

        & button {
            background-color: rgba(181, 149, 113, 1);
            padding: 5px 10px;
            font-size: 22px;
        }

        .quantity__button {
            row-gap: 10px;
            left: -50px;

            & button:nth-child(1) {
                width: 15px;
                height: 15px;
            }

            & button:nth-child(2) {
                width: 15px;
                height: 15px;
            }

        }
    }
}